
body {
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
  background: linear-gradient(to right, red , yellow); 
}

 .navbar {
    position:absolute;
    top:10px;
    z-index:10;
    width:100%;
}

img{

 display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.box{
  float: right;
  position: relative;
}

h1 {

	 font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;

}

h2{

  font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

h3 {
  font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}


.jumbotron{
	position: center;
	background-color:#B22222;
	color: white; 
	text-align: center;
}

.text{

	
    width: 1500px;

    padding: 10px;
    margin: 0; 
}


.mail {

	text-align: center;
	background-color: #228B22;
	color:black;
	text-align: center;
}

*{
    box-sizing: border-box;
}
body{margin: auto;font-family: calibri;}
#slider .container-fluid{
    padding: 0 15px;
}
#slider .slider-inner{
    padding: 0;
}
.slider-inner .item img{
    display: block;
    width: 100%;
    height: auto;
}
.slider-inner h1{
    color: purple;
}




#carousel1 {
  width:1152px;
  height:648px;

    top:0;    
  margin: auto;
   z-index: 9;
}

#carousel2{
	 width:527px;
  	height:671px;
  	 position: center;
  	margin: auto;
}

.container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}